In [1]:
#importing libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#to avoid warnings:
import warnings
warnings.filterwarnings('ignore')

#to display all rows and columns:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
#import dataset:
df=pd.read_csv(r'C:\Users\VISHAL\New folder\User Interface\data\exported_data\CleanData.csv',header=0)
df.head(10)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,default_ind
0,5000.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-2011,credit_card,AZ,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,f,0.00,0.00,5861.071414,5000.00,861.07,0.00,171.62,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
1,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Income Source Verified,Dec-2011,car,GA,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,f,0.00,0.00,1008.710000,456.46,435.17,0.00,119.66,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1
2,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,small_business,IL,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,f,0.00,0.00,3003.653644,2400.00,603.65,0.00,649.91,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
3,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,Income Source Verified,Dec-2011,other,CA,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,f,0.00,0.00,12226.302212,10000.00,2209.33,16.97,357.48,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
4,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,Income Source Verified,Dec-2011,other,OR,17.94,0.0,0.0,15.0,0.0,27783.0,53.9,38.0,f,766.90,766.90,3242.170000,2233.10,1009.07,0.00,67.79,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
5,5000.0,36 months,7.90,156.46,A,A4,3 years,RENT,36000.0,Income Source Verified,Dec-2011,wedding,AZ,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,f,0.00,0.00,5631.377753,5000.00,631.38,0.00,161.03,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
6,7000.0,60 months,15.96,170.08,C,C5,8 years,RENT,47004.0,Not Verified,Dec-2011,debt_consolidation,NC,23.51,0.0,1.0,7.0,0.0,17726.0,85.6,11.0,f,1889.15,1889.15,8136.840000,5110.85,3025.99,0.00,170.08,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
7,3000.0,36 months,18.64,109.43,E,E1,9 years,RENT,48000.0,Income Source Verified,Dec-2011,car,CA,5.35,0.0,2.0,4.0,0.0,8221.0,87.5,4.0,f,0.00,0.00,3938.144334,3000.00,938.14,0.00,111.34,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
8,5600.0,60 months,21.28,152.39,F,F2,4 years,OWN,40000.0,Income Source Verified,Dec-2011,small_business,CA,5.55,0.0,2.0,11.0,0.0,5210.0,32.6,13.0,f,0.00,0.00,646.020000,162.02,294.94,0.00,152.39,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1
9,5375.0,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.0,Verified,Dec-2011,other,TX,18.08,0.0,0.0,2.0,0.0,9279.0,36.5,3.0,f,0.00,0.00,1476.190000,673.48,533.42,0.00,121.45,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1

In [3]:
#copy dataset in another file:
df1=df.copy()
df1.head(10)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,default_ind
0,5000.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-2011,credit_card,AZ,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,f,0.00,0.00,5861.071414,5000.00,861.07,0.00,171.62,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
1,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Income Source Verified,Dec-2011,car,GA,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,f,0.00,0.00,1008.710000,456.46,435.17,0.00,119.66,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1
2,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-2011,small_business,IL,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,f,0.00,0.00,3003.653644,2400.00,603.65,0.00,649.91,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
3,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,Income Source Verified,Dec-2011,other,CA,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,f,0.00,0.00,12226.302212,10000.00,2209.33,16.97,357.48,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
4,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,Income Source Verified,Dec-2011,other,OR,17.94,0.0,0.0,15.0,0.0,27783.0,53.9,38.0,f,766.90,766.90,3242.170000,2233.10,1009.07,0.00,67.79,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
5,5000.0,36 months,7.90,156.46,A,A4,3 years,RENT,36000.0,Income Source Verified,Dec-2011,wedding,AZ,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,f,0.00,0.00,5631.377753,5000.00,631.38,0.00,161.03,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
6,7000.0,60 months,15.96,170.08,C,C5,8 years,RENT,47004.0,Not Verified,Dec-2011,debt_consolidation,NC,23.51,0.0,1.0,7.0,0.0,17726.0,85.6,11.0,f,1889.15,1889.15,8136.840000,5110.85,3025.99,0.00,170.08,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
7,3000.0,36 months,18.64,109.43,E,E1,9 years,RENT,48000.0,Income Source Verified,Dec-2011,car,CA,5.35,0.0,2.0,4.0,0.0,8221.0,87.5,4.0,f,0.00,0.00,3938.144334,3000.00,938.14,0.00,111.34,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,0
8,5600.0,60 months,21.28,152.39,F,F2,4 years,OWN,40000.0,Income Source Verified,Dec-2011,small_business,CA,5.55,0.0,2.0,11.0,0.0,5210.0,32.6,13.0,f,0.00,0.00,646.020000,162.02,294.94,0.00,152.39,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1
9,5375.0,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.0,Verified,Dec-2011,other,TX,18.08,0.0,0.0,2.0,0.0,9279.0,36.5,3.0,f,0.00,0.00,1476.190000,673.48,533.42,0.00,121.45,0.0,INDIVIDUAL,0.0,225.412882,139766.247529,1

In [4]:
#no. of columns and rows
df1.shape

(855969, 35)

### Label Encoding

In [5]:
#Converting 'issue_d' from string to datetime object:
df1['issue_d'] = pd.to_datetime(df1['issue_d'])
df1.dtypes

loan_amnt                            float64
term                                  object
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_length                            object
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
purpose                               object
addr_state                            object
dti                                  float64
delinq_2yrs                          float64
inq_last_6mths                       float64
open_acc                             float64
pub_rec                              float64
revol_bal                            float64
revol_util                           float64
total_acc                            float64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
last_pymnt_amnt                      float64
collections_12_mths_ex_med           float64
application_type                      object
acc_now_delinq                       float64
tot_coll_amt                         float64
tot_cur_bal                          float64
default_ind                            int64
dtype: object

In [6]:
#storing categorical value in 'df1_categorical' and numerical in 'df1_numerical'
df1_categorical=[]
df1_numerical=[]

for x in df1:
    if df1[x].dtype=='object':
        df1_categorical.append(x)
    elif df1[x].dtype=='int64' or df1[x].dtype=='float64':
        df1_numerical.append(x)

In [7]:
df1_categorical

['term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'purpose',
 'addr_state',
 'initial_list_status',
 'application_type']

In [8]:
# For preprocessing the data 
from sklearn import preprocessing 
le=preprocessing.LabelEncoder()

for i in df1_categorical:
    df1[i]=le.fit_transform(df1[i])
    
    le_name_mapping=dict(zip(le.classes_, le.transform(le.classes_)))
    print('Feature',i)
    print('le_name_mapping',le_name_mapping)
    print()

Feature term
le_name_mapping {' 36 months': 0, ' 60 months': 1}

Feature grade
le_name_mapping {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6}

Feature sub_grade
le_name_mapping {'A1': 0, 'A2': 1, 'A3': 2, 'A4': 3, 'A5': 4, 'B1': 5, 'B2': 6, 'B3': 7, 'B4': 8, 'B5': 9, 'C1': 10, 'C2': 11, 'C3': 12, 'C4': 13, 'C5': 14, 'D1': 15, 'D2': 16, 'D3': 17, 'D4': 18, 'D5': 19, 'E1': 20, 'E2': 21, 'E3': 22, 'E4': 23, 'E5': 24, 'F1': 25, 'F2': 26, 'F3': 27, 'F4': 28, 'F5': 29, 'G1': 30, 'G2': 31, 'G3': 32, 'G4': 33, 'G5': 34}

Feature emp_length
le_name_mapping {'1 year': 0, '10+ years': 1, '2 years': 2, '3 years': 3, '4 years': 4, '5 years': 5, '6 years': 6, '7 years': 7, '8 years': 8, '9 years': 9, '< 1 year': 10}

Feature home_ownership
le_name_mapping {'MORTGAGE': 0, 'OTHER': 1, 'OWN': 2, 'RENT': 3}

Feature verification_status
le_name_mapping {'Income Source Verified': 0, 'Not Verified': 1, 'Verified': 2}

Feature purpose
le_name_mapping {'car': 0, 'credit_card': 1, 'debt_consolidation': 2, 'educational': 3, 'home_improvement': 4, 'house': 5, 'major_purchase': 6, 'medical': 7, 'moving': 8, 'other': 9, 'renewable_energy': 10, 'small_business': 11, 'vacation': 12, 'wedding': 13}

Feature addr_state
le_name_mapping {'AK': 0, 'AL': 1, 'AR': 2, 'AZ': 3, 'CA': 4, 'CO': 5, 'CT': 6, 'DC': 7, 'DE': 8, 'FL': 9, 'GA': 10, 'HI': 11, 'IA': 12, 'ID': 13, 'IL': 14, 'IN': 15, 'KS': 16, 'KY': 17, 'LA': 18, 'MA': 19, 'MD': 20, 'ME': 21, 'MI': 22, 'MN': 23, 'MO': 24, 'MS': 25, 'MT': 26, 'NC': 27, 'ND': 28, 'NE': 29, 'NH': 30, 'NJ': 31, 'NM': 32, 'NV': 33, 'NY': 34, 'OH': 35, 'OK': 36, 'OR': 37, 'PA': 38, 'RI': 39, 'SC': 40, 'SD': 41, 'TN': 42, 'TX': 43, 'UT': 44, 'VA': 45, 'VT': 46, 'WA': 47, 'WI': 48, 'WV': 49, 'WY': 50}

Feature initial_list_status
le_name_mapping {'f': 0, 'w': 1}

Feature application_type
le_name_mapping {'INDIVIDUAL': 0, 'JOINT': 1}

In [9]:
df1.head(10)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,default_ind
0,5000.0,0,10.65,162.87,1,6,1,3,24000.0,2,2011-12-01,1,3,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,0,0.00,0.00,5861.071414,5000.00,861.07,0.00,171.62,0.0,0,0.0,225.412882,139766.247529,0
1,2500.0,1,15.27,59.83,2,13,10,3,30000.0,0,2011-12-01,0,10,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,0,0.00,0.00,1008.710000,456.46,435.17,0.00,119.66,0.0,0,0.0,225.412882,139766.247529,1
2,2400.0,0,15.96,84.33,2,14,1,3,12252.0,1,2011-12-01,11,14,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,0,0.00,0.00,3003.653644,2400.00,603.65,0.00,649.91,0.0,0,0.0,225.412882,139766.247529,0
3,10000.0,0,13.49,339.31,2,10,1,3,49200.0,0,2011-12-01,9,4,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,0,0.00,0.00,12226.302212,10000.00,2209.33,16.97,357.48,0.0,0,0.0,225.412882,139766.247529,0
4,3000.0,1,12.69,67.79,1,9,0,3,80000.0,0,2011-12-01,9,37,17.94,0.0,0.0,15.0,0.0,27783.0,53.9,38.0,0,766.90,766.90,3242.170000,2233.10,1009.07,0.00,67.79,0.0,0,0.0,225.412882,139766.247529,0
5,5000.0,0,7.90,156.46,0,3,3,3,36000.0,0,2011-12-01,13,3,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,0,0.00,0.00,5631.377753,5000.00,631.38,0.00,161.03,0.0,0,0.0,225.412882,139766.247529,0
6,7000.0,1,15.96,170.08,2,14,8,3,47004.0,1,2011-12-01,2,27,23.51,0.0,1.0,7.0,0.0,17726.0,85.6,11.0,0,1889.15,1889.15,8136.840000,5110.85,3025.99,0.00,170.08,0.0,0,0.0,225.412882,139766.247529,0
7,3000.0,0,18.64,109.43,4,20,9,3,48000.0,0,2011-12-01,0,4,5.35,0.0,2.0,4.0,0.0,8221.0,87.5,4.0,0,0.00,0.00,3938.144334,3000.00,938.14,0.00,111.34,0.0,0,0.0,225.412882,139766.247529,0
8,5600.0,1,21.28,152.39,5,26,4,2,40000.0,0,2011-12-01,11,4,5.55,0.0,2.0,11.0,0.0,5210.0,32.6,13.0,0,0.00,0.00,646.020000,162.02,294.94,0.00,152.39,0.0,0,0.0,225.412882,139766.247529,1
9,5375.0,1,12.69,121.45,1,9,10,3,15000.0,2,2011-12-01,9,43,18.08,0.0,0.0,2.0,0.0,9279.0,36.5,3.0,0,0.00,0.00,1476.190000,673.48,533.42,0.00,121.45,0.0,0,0.0,225.412882,139766.247529,1

In [10]:
df1.shape

(855969, 35)

In [11]:
df1.to_csv(r'C:\Users\VISHAL\Web Deployment\Loan Prediction\data\exported_data\EncodedData.csv',index=False,header=True)